{% extends "base.html" %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to DjangoCart</p>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    DjangoCart is an e-commerce website that allows you to buy products online. We have a wide range of products available for you to choose from. We have products from various categories like electronics, clothing, accessories, and many more. We have a user-friendly interface that allows you to easily navigate through the website and find the products you are looking for. We also have a secure payment gateway that ensures that your transactions are safe and secure. So, what are you waiting for? Start shopping now and get your favorite products delivered to your doorstep!
                </p>
            </div>
        </center>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <h2>Our Team</h2>
                <p align="justify">
                    We have a team of dedicated professionals who work hard to ensure that you have a great shopping experience on our website. Our team is always ready to assist you with any queries or concerns you may have. We are committed to providing you with the best products and services, and we strive to make your shopping experience as smooth and hassle-free as possible. So, if you have any questions or need any help, feel free to reach out to us, and we will be happy to assist you!
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}